@import url("Mojang-Regular.ttf");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mojang, arial, sans-serif, monospace;
  color: rgb(8, 8, 46);
}

::selection {
  background-color: rgb(255, 64, 64);
}

::-moz-selection {
  background-color: rgb(255, 64, 64);
}

::-webkit-selection {
  background-color: rgb(255, 64, 64);
}

body {
  background-color: rgb(13, 12, 34);
  background-image: url(background.png);
  /* make the background image cover the entire page github copilot is good :) */
  background-size: cover;
  /* make the background image fixed */
  background-attachment: fixed;
  /* make the background image scroll with the page */
  background-position: center;
  /* make  everything centered*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#textWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img#headerLogo {
  max-width: 100%;
  height: auto;
}

.download-container {
  margin-top: 2.5%;
}

a.download-direct,
a.download-other,
a.download-mcpedl {
  background: rgba(255, 99, 71, 0.329);
  padding: 20px;
  text-decoration: none;
  color: rgb(198, 246, 255);
  border-radius: 999px;
  outline: 5px solid tomato;
  transition: all 0.5s;
  display: flex;
  /*  make ithe direction column and add 3 pixels of gap*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
  font-size: 1.7rem;
}

a.download-direct:hover,
a.download-mcpedl:hover,
a.download-other:hover {
  background-color: tomato;
  border-radius: 5px;
}

/* a.download-mcpedl {
  background: transparent;
  padding: 5px;
  margin: 3%;
  text-decoration: none;
  color: rgb(198, 246, 255);
  border-radius: 999px;
  outline: 5px solid tomato;
  transition: all 0.3s;
} */

#logoText {
  font-size: 2rem;
}

::-webkit-scrollbar {
  width: 3.5px;
  height: 3.5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: tomato;
}

::-webkit-scrollbar-button {
  background: tomato;
  border-radius: 99px;
}
