@font-face {
  font-family: Mojang;
  src: url(/fonts/Mojang-Regular.woff2) format("woff2"),
    url(/fonts/Mojang-Regular.woff) format("woff");
}

@font-face {
  font-family: Mojang-Bold;
  src: url(/fonts/Mojang-Bold.woff2) format("woff2"),
    url(/fonts/Mojang-Bold.woff) format("woff");
}

.bold {
  font-family: Mojang-Bold;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mojang, arial, sans-serif, monospace;
}

::selection {
  background-color: rgb(255, 64, 64);
}

::-moz-selection {
  background-color: rgb(255, 64, 64);
}

::-webkit-selection {
  background-color: rgb(255, 64, 64);
}

body {
  background-color: rgb(13, 12, 34);
  background-image: url(/imgs/background.png);
  /* make the background image cover the entire page github copilot is good :) */
  background-size: cover;
  /* make the background image fixed */
  background-attachment: fixed;
  /* make the background image scroll with the page */
  background-position: center;
  /* make  everything centered*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3px;
}

#textWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img#headerLogo {
  max-width: 100%;
  height: auto;
}

.download-container {
  margin-top: 2.5%;
}

a.download-direct,
a.download-other,
a.download-mcpedl {
  background: rgba(255, 99, 71, 0.329);
  padding: 20px;
  text-decoration: none;
  color: rgb(198, 246, 255);
  border-radius: 999px;
  outline: 5px solid tomato;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
  font-size: 1.7rem;
}

a.download-direct:hover,
a.download-mcpedl:hover,
a.download-other:hover {
  background-color: tomato;
  border-radius: 5px;
}

/* a.download-mcpedl {
  background: transparent;
  padding: 5px;
  margin: 3%;
  text-decoration: none;
  color: rgb(198, 246, 255);
  border-radius: 999px;
  outline: 5px solid tomato;
  transition: all 0.3s;
} */

#logoText {
  font-size: 2rem;
  padding-top: 1%;
  color: rgb(8, 8, 46);
}

::-webkit-scrollbar {
  width: 3.5px;
  height: 3.5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: tomato;
}

::-webkit-scrollbar-button {
  background: tomato;
  border-radius: 99px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(13, 12, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  color: rgb(209, 249, 255);
  transition: all 0.5s;
  overflow-y: hidden;
}

#footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3%;
  background-color: rgb(56, 135, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(209, 249, 255);
  transition: all 2s ease-out;
}

#footer > p > a:nth-child(1) {
  color: rgb(149, 17, 167);
  text-decoration: none;
  transition: all 0.3s;
  outline: 0.3px solid rgb(56, 135, 255);
  border-radius: 2px;
  padding: 10px;
}

#footer > p > a:hover:nth-child(1) {
  text-decoration: underline;
  background-color: rgb(56, 135, 255);
  color: rgb(8, 8, 46);
  padding: 5px;
}

#footer:hover {
  height: 15%;
}

#footer::before:hover {
  height: 10%;
}

#footerMarkGithub {
  width: 6%;
  height: auto;
}
